<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>

<h1>留言已新增或更新</h1>

<table>
  <tbody>
    <tr>
      <th>暱稱:</th>
    <td>{{ message.name }}</td>
    </tr>
    <tr>
      <th>內容:</th>
      <td>{{ message.text }}</td>
    </tr>
  </tbody>
</table>

<br/>
<a href="/show-messages">顯示全部</a> -
<a href="/update-message/{{ message.id }}">更新</a>